<!DOCTYPE html>
<html lang="en">
    <head>
      <title> ECE 382 </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdn.rawgit.com/MarsUniversity/ece382/master/pandoc.css'>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]]
          }
        });
      </script>
    </head>
    <body>
        <div class = "container"> <!-- center navbar on page -->
            <!-- <nav class = "navbar navbar-default navbar-inverse bg-inverse"> -->
            <nav class="navbar navbar-inverse bg-inverse">
                <div class = "container-fluid">
                    <div class="navbar-header">
                    <a class = "navbar-brand" href="{{path}}/index.html">ECE382</a>
                  </div>
                    <ul class = "nav navbar-nav">
                        <li><a href="{{path}}/index.html">Home</a></li>
                        <li><a href="{{path}}/labs/index.html">Labs</a></li>
                        <li><a href="{{path}}/references/index.html">References</a></li>
                    </ul>
                </div>
            </nav>
            {{ info }}
        </div>
    </body>
</html>
